$primary-font: 'Arial, sans-serif';
$title-font-size: 2.5rem;
$font-sizes: (
    1: 0.75rem,
    2: 0.875rem,
    3: 1rem,
    4: 1.25rem,
    5: 1.5rem,
    6: 2rem,
    7: 2.5rem,
    8: 3rem,
    9: 4rem,
    10: 5rem
);





@mixin title-big {
    font-size: $title-font-size;
    font-weight: bold;
}


